:root {
  --accent: #4d5ae5;
  --footer-text-color: #e7e9fc;
  --primary-background-color: #ffffff;
  --primary-font: "Roboto", sans-serif;
  --primary-letter-spacing: 0.02em;
  --primary-line-height: 1.5;
  --primary-text-color: #434455;
  --secondary-background-color: #404bbf;
  --secondary-font-size: 20px;
  --secondary-font-weight: 800;
  --secondary-line-height: 1.2;
  --secondary-text-color: #8e8f99;
  --color: #f4f4fd;
  --title-text-color: #2e2f42;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

header .link.current-page {
  position: relative;
  display: inline-block;
  color: var(--accent);
}

.current-page::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  top: calc(24px + 24px - 4px);
  background-color: var(--accent);
  border-radius: 2px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navigation,
.contacts {
  gap: 40px;
}

.navigation .link,
.contacts .link {
  color: var(--title-text-color);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  transition: color var(--main-transition);
}
.navigation .link {
  font-weight: 700;
}
.page-nav {
  display: flex;
  margin-right: auto;
  gap: 77px;
}

.navigation .link:hover,
.navigation .link:focus,
.contacts .link:active,
.contacts .link:focus,
.contacts .link:hover,
.navigation .link:active {
  color: var(--accent);
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}

.link {
  text-decoration: none;
  display: block;
}
.logo-web,
.logo-web-footer {
  color: var(--accent);
  font-family: "Raleway", sans-serif;
  font-weight: var(--secondary-font-weight);
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  transition: color var(--main-transition);
}
.logo-web {
  transition: color var(--main-transition);
}

.logo-studio {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  transition: color var(--main-transition);
}
.logo-studio:hover,
.logo-studio:focus {
  color: var(--title-text-color);
}
.hero {
  background-color: var(--title-text-color);
  text-align: center;
  padding-top: 192px;
  padding-bottom: 192px;
  height: 603px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  color: var(--primary-background-color);
  font-size: 56px;
  font-weight: var(--secondary-font-weight);
  line-height: 1.07;
  margin-bottom: 48px;
  padding-right: 28%;
  padding-left: 28%;
}
.hero-button {
  background-color: var(--accent);
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-background-color);
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  letter-spacing: 0.04em;
  line-height: var(--secondary-line-height);
  padding: 16px 32px;
  transition: background-color var(--main-transition),
    box-shadow var(--main-transition);
}
.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--secondary-background-color);
  transition: background-color var(--main-transition);
}
.list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.spdt {
  padding-top: 120px;
}

.spdt-svg {
}

.spdt-item {
  max-width: 264px;
}

.spdt-item-icon {
  background-color: var(--color);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spdt-name {
  color: var(--title-text-color);
  font-weight: var(--secondary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  width: 264px;
}

.whatdo {
  padding-top: 120px;
  padding-bottom: 120px;
}

.whatdo-name,
.team-title {
  color: var(--title-text-color);
  font-weight: var(--secondary-font-weight);
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--color);
}
.team-item {
  background-color: var(--primary-background-color);
}

.container-team-item {
  padding-top: 32px;
  padding-bottom: 36px;
}

.team-name {
  color: var(--title-text-color);
  font-weight: var(--secondary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  text-align: center;
  padding-bottom: 8px;
}
.team-job {
  text-align: center;
  padding-bottom: 32px;
}

.list-social-media {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  gap: 24px;
}

.link-social-media {
  display: inline-flex;
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  color: var(--team-background-color);
  background-color: var(--accent);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-transition);
}

.link-social-media:hover,
.link-social-media:focus {
  background-color: var(--secondary-background-color);
  transition: background-color var(--main-transition);
}

.icon-social-media {
  fill: currentColor;
}

.buttons,
.buttonsall {
  background-color: var(--color);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid var(--footer-text-color);
  transition: background-color var(--main-transition),
    color var(--main-transition), box-shadow var(--main-transition);
}
.buttons {
  color: var(--accent);
}

.buttonsall {
  color: var(--primary-background-color);
}

.buttons:hover,
.buttons:focus {
  color: var(--primary-background-color);
  background-color: var(--accent);
  transition: background-color var(--main-transition);
}
.portfolio-card_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio {
  margin-bottom: 120px;
}

.img {
  display: block;
  max-width: 360px;
  height: 300px;
}

.portfolio-card_item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: inline-block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--main-transition);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--accent);
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--color);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 164px;
  transform: translateY(100%);
  transition: transform var(--main-transition);
}

.portfolio-card_box {
  padding: 32px 16px;
  border: 0.5px solid var(--color);
  border-top: 0;
}
.portfolio-name {
  color: var(--title-text-color);
  font-weight: var(--secondary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: 0.2e;
  margin-bottom: 8px;
}

.portfolio-category {
  color: var(--primary-text-color);
}

.footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  color: var(--footer-text-color);
  width: 264px;
  height: 72px;
  margin-top: 16px;
}

.container-footer {
  display: flex;
}

.footer-prom {
  margin-right: 120px;
}

.footer-social-media {
}

.footer-sm-title {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-background-color);
  margin-bottom: 16px;
}

.list-social-media {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  gap: 24px;
}

.footer .list-social-media {
  padding: 0;
  gap: 16px;
}

.footer .link-social-media {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .link-social-media:hover,
.footer .link-social-media:focus {
  background-color: #31d0aa;
  transition: background-color var(--main-transition);
}

.customers {
  padding: 120px 0px;
}

.customers-title {
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.customers-link {
  display: inline-flex;
  width: 168px;
  height: 88px;
  border: 1px solid var(--secondary-text-color: );
  border-radius: 4px;
  color: var(--secondary-text-color: );
  justify-content: center;
  align-items: center;
  transition: color var(--main-transition), border-color var(--main-transition);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent);
  border-color: var(--accent);
}

.icon-customers {
  fill: currentColor;
}

.studio-white {
  color: var(--color);
  font-family: "Raleway", sans-serif;
}
.studio-white:hover,
.studio-white:focus {
  color: var(--color);
  transition: color var(--main-transition);
}

.container-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.filter {
  margin-top: 96px;
  margin-bottom: 72px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.filter-btn,
.filter-btnall {
  padding: 12px 24px;
  border-radius: 4px;
}

.filter-btnall {
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.dnon {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--main-transition), visibility var(--main-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 408px;
  height: 576px;
  top: 88px;
  left: 516px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color var(--main-transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--secondary-background-color);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--primary-background-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 38px;
  background-color: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  transition: border-color var(--main-transition);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent);
}

.modal-form-input:focus + .modal-icon {
  fill: var(--accent);
}

.title-modal {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 14px;
}

.modal-form-input-desc {
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 400;
  line-height: var(--secondary-line-height);
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-icon {
  position: absolute;
  fill: var(--title-text-color);
  transition: fill var(--main-transition);
  bottom: 14px;
  left: 19px;
}

.modal-input {
  display: flex;
  position: relative;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  background: #fcfcfc;
  transition: border-color var(--main-transition);
}

.modal-form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus,
.modal-form-comment:not(:placeholder-shown) {
  outline: none;
  border-color: var(--accent);
}

.modal-form-check {
  
}

.modal-form-check-desc {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
